## Scrapping Twitter Post

In [3]:
from twython import Twython
import json

TWITTER_APP_KEY = '4D6ZKMpKukTvpW96UZ3DFLwIJ'
TWITTER_APP_KEY_SECRET = 'I7R5d4kq2MgsOcSToxCLXio2gHUZGDXbOvxA1zbyQZEPeIrORy' 
TWITTER_ACCESS_TOKEN = '88834562-QJNg0MqQCASdOV5hWzS6WW1iF1XpagyHV5V0m7Rxo'
TWITTER_ACCESS_TOKEN_SECRET = 'K03ywf82LlnvgG4kpmWOHtOA8R9ZJ2MLUqLn2j0PXLAhI'

t = Twython(app_key=TWITTER_APP_KEY, 
            app_secret=TWITTER_APP_KEY_SECRET, 
            oauth_token=TWITTER_ACCESS_TOKEN, 
            oauth_token_secret=TWITTER_ACCESS_TOKEN_SECRET)

In [15]:
term = 'KulinerYogyakarta'
tweet_metadatas = t.search(q=term,count=100,result_type='recent')

In [16]:
data_list = []

for tweet in tweet_metadatas['statuses']:
    meta = dict()
    meta['tweet'] = tweet['text']
    meta['timestamp'] = tweet['created_at']
    meta['username'] = tweet['user']['screen_name']
    
    data_list.append(meta)

In [17]:
import pandas as pd
data = pd.DataFrame(data_list)
data.head()

,timestamp,tweet,username
0,Mon Oct 22 04:20:11 +0000 2018,Makan apa siang ini~~?\n.\nIF: Nasi Tumis Papr...,salmonju
1,Sat Oct 20 13:36:54 +0000 2018,#holiday #holidayfun #oktober #2018 #oktober20...,mollym3e
2,Fri Oct 19 03:07:32 +0000 2018,"RT @rizkyalmr: Nyobain Nasi Brongkos, Salah Sa...",ahlibrosur
3,Fri Oct 19 02:32:02 +0000 2018,Kuliner Yogyakarta : Sate Kambing &amp;#038; A...,pegimakan
4,Thu Oct 18 10:25:31 +0000 2018,"Nyobain Nasi Brongkos, Salah Satu Kuliner Kege...",rizkyalmr

In [18]:
data.to_csv('twitter-result.csv',index=False)